src/flows/Send_Monthly_Statement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Monthly_Transaction_Email</name>
        <label>Monthly Transaction Email</label>
        <locationX>352</locationX>
        <locationY>1094</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Clear_Table_Format</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MonthlyEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Contact_Loop.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Monthly Transaction details</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assigning_Table_Column</name>
        <label>Assigning Table Column</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TableFormat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableColumn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transaction_Entries_of_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Table_Row</name>
        <label>Assigning Table Row</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TableFormat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Table_Format</name>
        <label>Clear Table Format</label>
        <locationX>352</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TableFormat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateTable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Transaction_Entries_of_Contact</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Transaction Entries of Contact</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_Transaction_Entries_of_Contact_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Transaction_Entries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Transaction_Entries_of_Contact_0.Contact__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Contact_Loop.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Transactions</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>CreateTable</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;table style=&quot;width:100%;border:1px solid black;&quot;&gt;</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>MonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), 01)</expression>
    </formulas>
    <formulas>
        <name>TableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Transactions.Type__c}) + &apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Transactions.Transaction_Date__c}) + &apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Transactions.Amount__c}) + &apos;&lt;/th&gt; &lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Send Monthly Statement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Monthly Statement</label>
    <loops>
        <name>Contact_Loop</name>
        <label>Contact Loop</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Table_Column</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Transactions</name>
        <label>Transactions</label>
        <locationX>352</locationX>
        <locationY>758</locationY>
        <collectionReference>Transaction_Entries_of_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Table_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Monthly_Transaction_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transaction_Entries</name>
        <label>Transaction Entries</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>MonthStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MonthlyEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Contact_Loop.Name},&lt;/p&gt;&lt;p&gt;Your Monthly Transactions for Account {!Contact_Loop.Account_Number__c} are below ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!TableFormat}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Available Balance is {!Contact_Loop.Available_Balance__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Transaction_Entries_of_Contact_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Entry__c</objectType>
    </variables>
    <variables>
        <name>TableColumn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt;Type&lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt;Date&lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt;Amount&lt;/th&gt;  &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TableFormat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%;border:1px solid black;&quot;&gt;</stringValue>
        </value>
    </variables>
</Flow>
